openapi: 3.1.0
info:
  title: Forza Open API
  version: 1.0.0
  description: >
    API REST ouverte, gratuite et communautaire pour les données Forza Horizon
    (FH6 d'abord, FH5 en backfill). Contract-first : ce fichier est la source de
    vérité ; le serveur Go (ogen) et les clients TS en découlent.
    Champ `game` partout (game-agnostic). Erreurs en RFC 9457.
  license:
    name: MIT
    identifier: MIT

servers:
  - url: https://api.forza-open-api.org
    description: Production (placeholder — domaine à confirmer).
  - url: http://localhost:8080
    description: Développement local.

tags:
  - name: Cars
    description: Catalogue des voitures.
  - name: Manufacturers
    description: Constructeurs automobiles.
  - name: Playlist
    description: Festival Playlist (séries saisonnières, récompenses, défis).
  - name: Tracks
    description: Tracés / circuits indexés (fondation des leaderboards et de la carte).
  - name: PRStunts
    description: PR Stunts (speed trap, speed zone, drift zone, danger sign).
  - name: Events
    description: Événements / courses (routes fixes, circuits, drag meets…).
  - name: DLC
    description: Packs DLC / extensions (Car Pass, expansions, standalone).
  - name: BarnFinds
    description: Barn Finds (épaves cachées débloquées via les stamps Discover Japan, puis restaurées).
  - name: TreasureCars
    description: Treasure Cars (voitures liées aux postcards, conduisibles après la cutscene de lavage).
  - name: Upgrades
    description: Catalogue des pièces d'upgrade et upgrades disponibles par voiture.

# Lecture publique possible ({}), clé optionnelle via X-API-Key.
security:
  - {}
  - ApiKeyAuth: []

paths:
  /v1/cars:
    get:
      operationId: listCars
      summary: Liste les voitures du catalogue.
      tags: [Cars]
      x-ogen-operation-group: Cars
      parameters:
        - $ref: '#/components/parameters/Game'
        - name: make
          in: query
          description: Filtre par constructeur (ex. "Ford").
          schema: { type: string }
        - name: class
          in: query
          description: Filtre par classe PI.
          schema: { $ref: '#/components/schemas/CarClass' }
        - name: pi_min
          in: query
          description: Performance Index minimum (inclus).
          schema: { type: integer, minimum: 100, maximum: 999 }
        - name: pi_max
          in: query
          description: Performance Index maximum (inclus).
          schema: { type: integer, minimum: 100, maximum: 999 }
        - name: drivetrain
          in: query
          description: Filtre par transmission.
          schema: { $ref: '#/components/schemas/Drivetrain' }
        - name: q
          in: query
          description: Recherche plein texte sur name/model.
          schema: { type: string }
        - name: dlc
          in: query
          description: Filtre par pack DLC (identifiant d'un dlc_packs) ; liste les voitures du pack.
          schema: { type: string }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Page de voitures.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CarList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/cars/{id}:
    get:
      operationId: getCar
      summary: Récupère une voiture par identifiant.
      tags: [Cars]
      x-ogen-operation-group: Cars
      parameters:
        - name: id
          in: path
          required: true
          description: Identifiant stable de la voiture.
          schema: { type: string }
      responses:
        '200':
          description: La voiture demandée.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Car' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/cars/{id}/upgrades:
    get:
      operationId: listCarUpgrades
      summary: Liste les upgrades disponibles pour une voiture.
      description: >
        Pièces d'upgrade montables sur la voiture, avec leurs contraintes
        d'installation (prérequis, groupe exclusif). Le jeu est déterminé par la
        voiture (pas de paramètre game). Voiture inconnue ou sans upgrade
        sourcé → page vide.
      tags: [Upgrades]
      x-ogen-operation-group: Upgrades
      parameters:
        - name: id
          in: path
          required: true
          description: Identifiant stable de la voiture.
          schema: { type: string }
        - name: category
          in: query
          description: Filtre par catégorie de pièce.
          schema: { $ref: '#/components/schemas/UpgradePartCategory' }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Page d'upgrades disponibles pour la voiture.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CarUpgradeList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/manufacturers:
    get:
      operationId: listManufacturers
      summary: Liste les constructeurs.
      tags: [Manufacturers]
      x-ogen-operation-group: Manufacturers
      parameters:
        - $ref: '#/components/parameters/Game'
      responses:
        '200':
          description: Liste des constructeurs pour le jeu.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Manufacturer' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/dlc-packs:
    get:
      operationId: listDlcPacks
      summary: Liste les packs DLC / extensions d'un jeu.
      tags: [DLC]
      x-ogen-operation-group: DLC
      parameters:
        - $ref: '#/components/parameters/Game'
      responses:
        '200':
          description: Les packs DLC connus pour le jeu (plus récents d'abord).
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/DlcPack' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/playlist/current:
    get:
      operationId: getCurrentPlaylist
      summary: Festival Playlist courante d'un jeu.
      tags: [Playlist]
      x-ogen-operation-group: Playlist
      parameters:
        - $ref: '#/components/parameters/Game'
      responses:
        '200':
          description: La série courante avec ses récompenses et défis.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Series' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/playlist/series:
    get:
      operationId: listSeries
      summary: Liste les séries de Festival Playlist.
      tags: [Playlist]
      x-ogen-operation-group: Playlist
      parameters:
        - $ref: '#/components/parameters/Game'
      responses:
        '200':
          description: Les séries connues pour le jeu (récentes d'abord).
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Series' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/playlist/series/{id}:
    get:
      operationId: getSeries
      summary: Récupère une série par identifiant.
      tags: [Playlist]
      x-ogen-operation-group: Playlist
      parameters:
        - name: id
          in: path
          required: true
          description: Identifiant stable de la série.
          schema: { type: string }
      responses:
        '200':
          description: La série demandée avec ses récompenses et défis.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Series' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/tracks:
    get:
      operationId: listTracks
      summary: Liste les tracés / circuits indexés.
      tags: [Tracks]
      x-ogen-operation-group: Tracks
      parameters:
        - $ref: '#/components/parameters/Game'
        - name: type
          in: query
          description: Filtre par catégorie de tracé.
          schema: { $ref: '#/components/schemas/TrackType' }
        - name: region
          in: query
          description: Filtre par région.
          schema: { $ref: '#/components/schemas/Region' }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Page de tracés.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TrackList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/pr-stunts:
    get:
      operationId: listPrStunts
      summary: Liste les PR Stunts (speed trap, speed zone, drift zone, danger sign).
      tags: [PRStunts]
      x-ogen-operation-group: PRStunts
      parameters:
        - $ref: '#/components/parameters/Game'
        - name: type
          in: query
          description: Filtre par type de PR Stunt.
          schema: { $ref: '#/components/schemas/PRStuntType' }
        - name: region
          in: query
          description: Filtre par région.
          schema: { $ref: '#/components/schemas/Region' }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Page de PR Stunts.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PRStuntList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/events:
    get:
      operationId: listEvents
      summary: Liste les événements / courses.
      tags: [Events]
      x-ogen-operation-group: Events
      parameters:
        - $ref: '#/components/parameters/Game'
        - name: type
          in: query
          description: Filtre par type d'événement.
          schema: { $ref: '#/components/schemas/EventType' }
        - name: region
          in: query
          description: Filtre par région.
          schema: { $ref: '#/components/schemas/Region' }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Page d'événements.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EventList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/barn-finds:
    get:
      operationId: listBarnFinds
      summary: Liste les Barn Finds (épaves cachées à trouver puis restaurer).
      tags: [BarnFinds]
      x-ogen-operation-group: BarnFinds
      parameters:
        - $ref: '#/components/parameters/Game'
        - name: region
          in: query
          description: Filtre par région.
          schema: { $ref: '#/components/schemas/Region' }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Page de Barn Finds.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BarnFindList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/treasure-cars:
    get:
      operationId: listTreasureCars
      summary: Liste les Treasure Cars (voitures liées aux postcards).
      tags: [TreasureCars]
      x-ogen-operation-group: TreasureCars
      parameters:
        - $ref: '#/components/parameters/Game'
        - name: region
          in: query
          description: Filtre par région.
          schema: { $ref: '#/components/schemas/Region' }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Page de Treasure Cars.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TreasureCarList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/upgrade-parts:
    get:
      operationId: listUpgradeParts
      summary: Catalogue global des pièces d'upgrade.
      tags: [Upgrades]
      x-ogen-operation-group: Upgrades
      parameters:
        - $ref: '#/components/parameters/Game'
        - name: category
          in: query
          description: Filtre par catégorie de pièce.
          schema: { $ref: '#/components/schemas/UpgradePartCategory' }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Page de pièces d'upgrade.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpgradePartList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  parameters:
    Game:
      name: game
      in: query
      required: true
      description: Jeu cible (obligatoire sur les ressources multi-jeux).
      schema: { $ref: '#/components/schemas/Game' }
    Page:
      name: page
      in: query
      description: Numéro de page (1-based).
      schema: { type: integer, minimum: 1, default: 1 }
    PageSize:
      name: page_size
      in: query
      description: Taille de page.
      schema: { type: integer, minimum: 1, maximum: 100, default: 50 }

  responses:
    BadRequest:
      description: Requête invalide.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: Clé API absente ou invalide.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Ressource introuvable.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Error' }
    TooManyRequests:
      description: Quota de rate-limit dépassé.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Error' }

  schemas:
    Game:
      type: string
      description: Identifiant du jeu.
      enum: [fh6, fh5]

    CarClass:
      type: string
      description: Classe Performance Index.
      enum: [D, C, B, A, S1, S2, X]

    Drivetrain:
      type: string
      description: Transmission.
      enum: [FWD, RWD, AWD]

    CarStats:
      type: object
      description: Statistiques de performance (échelle du jeu).
      properties:
        speed: { type: number }
        handling: { type: number }
        acceleration: { type: number }
        launch: { type: number }
        braking: { type: number }
      additionalProperties: { type: number }

    Car:
      type: object
      required: [id, game, name, make, class, pi, drivetrain]
      properties:
        id: { type: string }
        game: { $ref: '#/components/schemas/Game' }
        name: { type: string }
        make: { type: string }
        model: { type: string }
        year: { type: integer }
        class: { $ref: '#/components/schemas/CarClass' }
        pi: { type: integer, minimum: 100, maximum: 999 }
        drivetrain: { $ref: '#/components/schemas/Drivetrain' }
        stats: { $ref: '#/components/schemas/CarStats' }
        bodyType: { type: string }
        rarity: { type: string }
        valueCr: { type: integer, format: int64 }
        obtainMethod: { type: string }
        imageUrl: { type: string, format: uri }
        createdAt: { type: string, format: date-time }

    CarList:
      type: object
      required: [items, total, page, pageSize]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Car' }
        total: { type: integer, format: int64 }
        page: { type: integer }
        pageSize: { type: integer }

    Manufacturer:
      type: object
      required: [game, name]
      properties:
        game: { $ref: '#/components/schemas/Game' }
        name: { type: string }
        country: { type: string }

    DlcKind:
      type: string
      description: Type de pack DLC.
      enum: [car_pass, expansion, standalone]

    DlcPack:
      type: object
      description: Pack DLC / extension (Car Pass, expansion, standalone).
      required: [id, game, name, kind]
      properties:
        id: { type: string }
        game: { $ref: '#/components/schemas/Game' }
        name: { type: string }
        kind: { $ref: '#/components/schemas/DlcKind' }
        releasedAt:
          type: string
          format: date-time
          description: Date de sortie. Absente si pack annoncé mais pas encore sorti.
        description: { type: string }
        source: { type: string, description: Source propre de la donnée. }
        lastVerified: { type: string, format: date-time }

    Reward:
      type: object
      required: [id, atPercent, type, item]
      properties:
        id: { type: string }
        atPercent: { type: integer, minimum: 0, maximum: 100 }
        type: { type: string }
        item: { type: string }

    Challenge:
      type: object
      required: [id, scope, name, requirement]
      properties:
        id: { type: string }
        scope: { type: string }
        name: { type: string }
        requirement: { type: string }
        reward: { type: string }
        expiresAt: { type: string, format: date-time }

    Series:
      type: object
      required: [id, game, series, name, isCurrent]
      properties:
        id: { type: string }
        game: { $ref: '#/components/schemas/Game' }
        series: { type: integer }
        name: { type: string }
        season: { type: string }
        week: { type: integer }
        startsAt: { type: string, format: date-time }
        endsAt: { type: string, format: date-time }
        isCurrent: { type: boolean }
        rewards:
          type: array
          items: { $ref: '#/components/schemas/Reward' }
        challenges:
          type: array
          items: { $ref: '#/components/schemas/Challenge' }

    Region:
      type: string
      description: >
        Région de la carte (dépend du jeu ; FH6 = 7 régions / 74 districts).
        Valeur libre : l'ensemble n'est pas figé au contrat. Absente → champ omis.

    TrackType:
      type: string
      description: Catégorie de tracé.
      enum: [circuit, road, dirt, cross, street, touge, horizon_rush]

    Track:
      type: object
      description: Tracé indexé (fonde les leaderboards et la carte).
      required: [id, game, name, type]
      properties:
        id: { type: string }
        game: { $ref: '#/components/schemas/Game' }
        name: { type: string }
        type: { $ref: '#/components/schemas/TrackType' }
        region: { $ref: '#/components/schemas/Region' }
        lengthM: { type: integer, description: Longueur en mètres. }
        surfaceMix: { type: string, description: Répartition des surfaces (texte libre). }
        startLat: { type: number, format: double }
        startLng: { type: number, format: double }
        source: { type: string, description: Source propre de la donnée. }
        lastVerified: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    TrackList:
      type: object
      required: [items, total, page, pageSize]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Track' }
        total: { type: integer, format: int64 }
        page: { type: integer }
        pageSize: { type: integer }

    PRStuntType:
      type: string
      description: Type de PR Stunt (épreuve de bord de route).
      enum: [speed_trap, speed_zone, drift_zone, danger_sign]

    PRStunt:
      type: object
      description: PR Stunt (speed trap, speed zone, drift zone, danger sign).
      required: [id, game, type, name]
      properties:
        id: { type: string }
        game: { $ref: '#/components/schemas/Game' }
        type: { $ref: '#/components/schemas/PRStuntType' }
        name: { type: string }
        region: { $ref: '#/components/schemas/Region' }
        lat: { type: number, format: double }
        lng: { type: number, format: double }
        targetScore: { type: integer, description: Score cible (3 étoiles) si connu. }

    PRStuntList:
      type: object
      required: [items, total, page, pageSize]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/PRStunt' }
        total: { type: integer, format: int64 }
        page: { type: integer }
        pageSize: { type: integer }

    EventType:
      type: string
      description: Type d'événement / course.
      enum: [circuit, road, dirt, cross, street, touge_battle, horizon_rush, drag_meet, time_attack]

    Event:
      type: object
      description: Événement / course (route fixe ou circuit).
      required: [id, game, name, type]
      properties:
        id: { type: string }
        game: { $ref: '#/components/schemas/Game' }
        name: { type: string }
        type: { $ref: '#/components/schemas/EventType' }
        region: { $ref: '#/components/schemas/Region' }
        startLat: { type: number, format: double }
        startLng: { type: number, format: double }
        endLat: { type: number, format: double }
        endLng: { type: number, format: double }
        routeGeojson:
          type: object
          additionalProperties: true
          description: Tracé GeoJSON (LineString) si disponible.
        carClassRestriction: { type: string }
        lengthM: { type: integer }

    EventList:
      type: object
      required: [items, total, page, pageSize]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Event' }
        total: { type: integer, format: int64 }
        page: { type: integer }
        pageSize: { type: integer }

    BarnFind:
      type: object
      description: >
        Barn Find FH6 : épave cachée à localiser dans une zone de recherche, puis
        à restaurer. Déblocage progressif via les stamps Discover Japan
        (prerequisiteStampLevel 1-7 : Visitor, Sightseer, Traveller, Pathfinder,
        Navigator, Adventurer, Master Explorer). Mécanique distincte des
        Treasure Cars. Coordonnées NULL si non sourcées (datasets communautaires).
      required: [id, game, carId]
      properties:
        id: { type: string }
        game: { $ref: '#/components/schemas/Game' }
        carId: { type: string, description: Identifiant de la voiture obtenue (réf. /v1/cars). }
        region: { $ref: '#/components/schemas/Region' }
        searchZoneCenterLat: { type: number, format: double, description: Latitude du centre de la zone de recherche. }
        searchZoneCenterLng: { type: number, format: double, description: Longitude du centre de la zone de recherche. }
        searchZoneRadiusM: { type: integer, description: Rayon de la zone de recherche (mètres). }
        prerequisiteStampLevel:
          type: integer
          minimum: 1
          maximum: 7
          description: >
            Niveau de stamp Discover Japan requis pour débloquer ce Barn Find
            (1=Visitor, 2=Sightseer, 3=Traveller, 4=Pathfinder, 5=Navigator,
            6=Adventurer, 7=Master Explorer).
        restorationTimeH: { type: integer, description: Durée de restauration (heures de jeu). }
        source: { type: string, description: Source propre de la donnée. }
        lastVerified: { type: string, format: date-time }

    BarnFindList:
      type: object
      required: [items, total, page, pageSize]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/BarnFind' }
        total: { type: integer, format: int64 }
        page: { type: integer }
        pageSize: { type: integer }

    TreasureCar:
      type: object
      description: >
        Treasure Car FH6 : voiture associée à une postcard, conduisible
        immédiatement après la cutscene de lavage. Mécanique distincte des
        Barn Finds (pas de stamp ni de restauration). Coordonnées NULL si non
        sourcées (l'indice de la postcard suffit à localiser in-game).
      required: [id, game, carId]
      properties:
        id: { type: string }
        game: { $ref: '#/components/schemas/Game' }
        carId: { type: string, description: Identifiant de la voiture obtenue (réf. /v1/cars). }
        region: { $ref: '#/components/schemas/Region' }
        postcardClue: { type: string, description: Texte de l'indice (postcard) menant à la voiture. }
        locationLat: { type: number, format: double, description: Latitude de l'emplacement si sourcée. }
        locationLng: { type: number, format: double, description: Longitude de l'emplacement si sourcée. }
        source: { type: string, description: Source propre de la donnée. }
        lastVerified: { type: string, format: date-time }

    TreasureCarList:
      type: object
      required: [items, total, page, pageSize]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/TreasureCar' }
        total: { type: integer, format: int64 }
        page: { type: integer }
        pageSize: { type: integer }

    UpgradePartCategory:
      type: string
      description: Catégorie de pièce d'upgrade.
      enum: [engine, drivetrain, aspiration, tires, weight, aero, brakes, transmission, intake, exhaust, cooling, fuel_system]

    UpgradePart:
      type: object
      description: >
        Pièce du catalogue d'upgrade (générique, indépendante d'une voiture).
        Les deltas sont relatifs au palier inférieur ; NULL si non sourcés
        (précision > exhaustivité). Sourcing progressif : voitures populaires
        d'abord, extension par séries ensuite.
      required: [id, game, category, name]
      properties:
        id: { type: string }
        game: { $ref: '#/components/schemas/Game' }
        category: { $ref: '#/components/schemas/UpgradePartCategory' }
        name: { type: string }
        level:
          type: integer
          minimum: 1
          description: Palier de la pièce (1 = premier niveau). Omis si non applicable.
        piDelta: { type: integer, description: Variation de Performance Index apportée par la pièce. }
        weightDeltaKg: { type: integer, description: Variation de poids (kg). Négatif = allègement. }
        powerDeltaHp: { type: integer, description: Variation de puissance (ch). }
        torqueDeltaNm: { type: integer, description: Variation de couple (Nm). }
        source: { type: string, description: Source propre de la donnée. }
        lastVerified: { type: string, format: date-time }

    UpgradePartList:
      type: object
      required: [items, total, page, pageSize]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/UpgradePart' }
        total: { type: integer, format: int64 }
        page: { type: integer }
        pageSize: { type: integer }

    CarUpgrade:
      type: object
      description: >
        Upgrade disponible pour une voiture : une pièce du catalogue assortie de
        ses contraintes d'installation (prérequis, groupe exclusif).
      required: [part]
      properties:
        part: { $ref: '#/components/schemas/UpgradePart' }
        requiresPartId:
          type: string
          description: Pièce prérequise (réf. upgrade-parts) à monter avant celle-ci. Absent si aucune.
        exclusiveGroup:
          type: string
          description: >
            Groupe exclusif : une seule pièce d'un même groupe peut être montée
            à la fois (ex. compounds de pneus). Absent si non concerné.

    CarUpgradeList:
      type: object
      required: [items, total, page, pageSize]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/CarUpgrade' }
        total: { type: integer, format: int64 }
        page: { type: integer }
        pageSize: { type: integer }

    Error:
      type: object
      description: Erreur au format RFC 9457 (application/problem+json).
      properties:
        type: { type: string, format: uri, default: 'about:blank' }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string, format: uri }
