openapi: 3.1.0
info:
  title: Forza Open API
  version: 1.0.0
  description: >
    API REST ouverte, gratuite et communautaire pour les données Forza Horizon
    (FH6 d'abord, FH5 en backfill). Contract-first : ce fichier est la source de
    vérité ; le serveur Go (ogen) et les clients TS en découlent.
    Champ `game` partout (game-agnostic). Erreurs en RFC 9457.
  license:
    name: MIT
    identifier: MIT

servers:
  - url: https://api.forza-open-api.org
    description: Production (placeholder — domaine à confirmer).
  - url: http://localhost:8080
    description: Développement local.

tags:
  - name: Cars
    description: Catalogue des voitures.
  - name: Manufacturers
    description: Constructeurs automobiles.
  - name: Playlist
    description: Festival Playlist (séries saisonnières, récompenses, défis).
  - name: Tracks
    description: Tracés / circuits indexés (fondation des leaderboards et de la carte).
  - name: PRStunts
    description: PR Stunts (speed trap, speed zone, drift zone, danger sign).
  - name: Events
    description: Événements / courses (routes fixes, circuits, drag meets…).
  - name: DLC
    description: Packs DLC / extensions (Car Pass, expansions, standalone).
  - name: BarnFinds
    description: Barn Finds (épaves cachées débloquées via les stamps Discover Japan, puis restaurées).
  - name: TreasureCars
    description: Treasure Cars (voitures liées aux postcards, conduisibles après la cutscene de lavage).
  - name: Upgrades
    description: Catalogue des pièces d'upgrade et upgrades disponibles par voiture.
  - name: Mastery
    description: Arbres Car Mastery (grille de perks par voiture).
  - name: Journal
    description: Collection Journal FH6 (Wristbands Horizon Festival + Stamps Discover Japan ; remplace les Accolades de FH5).
  - name: Reference
    description: Énumérations et compteurs agrégés (facettes) pour construire les filtres côté client.
  - name: Stories
    description: Stories FH6 (missions narratives Discover Japan ; rapportent des stamps au Collection Journal).
  - name: Tours
    description: Tours guidés (Tours of Japan) — activité Discovery FH6.
  - name: Search
    description: Recherche globale multi-ressources (autocomplete).
  - name: Changes
    description: Journal des changements de données (nouvelles voitures, packs, séries…).
  - name: Meta
    description: Métadonnées du service (jeux supportés, volumes, fraîcheur des données).

# Lecture publique possible ({}), clé optionnelle via X-API-Key.
security:
  - {}
  - ApiKeyAuth: []

paths:
  /v1/cars:
    get:
      operationId: listCars
      summary: Liste les voitures du catalogue.
      tags: [Cars]
      x-ogen-operation-group: Cars
      parameters:
        - $ref: '#/components/parameters/Game'
        - name: ids
          in: query
          description: >-
            Restreint le résultat à une liste d'identifiants (CSV, ex.
            ids=audi-r8,ford-gt), bornée à 100. Les ids inconnus ou d'un autre
            jeu sont ignorés (pas d'erreur) ; total et pagination portent sur
            les correspondances.
          style: form
          explode: false
          schema:
            type: array
            maxItems: 100
            items: { type: string }
        - name: make
          in: query
          description: Filtre par constructeur (ex. "Ford").
          schema: { type: string }
        - name: class
          in: query
          description: Filtre par classe PI.
          schema: { $ref: '#/components/schemas/CarClass' }
        - name: pi_min
          in: query
          description: Performance Index minimum (inclus).
          schema: { type: integer, minimum: 100, maximum: 999 }
        - name: pi_max
          in: query
          description: Performance Index maximum (inclus).
          schema: { type: integer, minimum: 100, maximum: 999 }
        - name: drivetrain
          in: query
          description: Filtre par transmission.
          schema: { $ref: '#/components/schemas/Drivetrain' }
        - name: category
          in: query
          description: Filtre par catégorie / division in-game (ex. "Modern Supercars"). Correspondance exacte.
          schema: { type: string }
        - name: q
          in: query
          description: Recherche plein texte sur name/model.
          schema: { type: string }
        - name: dlc
          in: query
          description: Filtre par pack DLC (identifiant d'un dlc_packs) ; liste les voitures du pack.
          schema: { type: string }
        - name: obtain
          in: query
          description: >-
            Filtre par méthode d'obtention. obtain_method est multi-valeurs
            (ex. "Autoshow, Wheelspin") : la correspondance se fait par token —
            obtain=wheelspin renvoie toute voiture dont l'une des méthodes est
            Wheelspin. Correspondances : autoshow → Autoshow ; wheelspin →
            Wheelspin ; wristband → Wristband reward / Yellow Wristband ;
            barn_find → Barn Find ; treasure → Treasure Car ; car_mastery →
            Car Mastery ; journal → Collection Journal ; car_pass → Car Pass ;
            hard_to_find → Hard to Find ; aftermarket → Aftermarket Car ;
            prologue → Complete the Prologue ; loyalty → Loyalty Reward ;
            preorder → Pre-order ; promotional → Promotional ; vip →
            VIP Membership ; welcome_pack → Welcome Pack ; unobtainable →
            Unobtainable. Les voitures de packs DLC se filtrent via `dlc`.
            Compteurs par valeur : facette `obtainMethods` de /v1/reference.
          schema:
            type: string
            enum: [autoshow, wheelspin, wristband, barn_find, treasure,
                   car_mastery, journal, car_pass, hard_to_find, aftermarket,
                   prologue, loyalty, preorder, promotional, vip, welcome_pack,
                   unobtainable]
        - $ref: '#/components/parameters/UpdatedSince'
        - name: sort
          in: query
          description: >-
            Tri du résultat : pi, name, year ou value (valeur en crédits).
            Préfixe "-" pour l'ordre décroissant (ex. sort=-pi).
            Défaut : pi croissant. Tri stable (départage par name puis id) ;
            les valeurs absentes (year/value NULL) sont renvoyées en dernier.
          schema:
            type: string
            enum: [pi, -pi, name, -name, year, -year, value, -value]
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Page de voitures.
          headers:
            Cache-Control:
              description: >-
                Cache long (catalogue quasi-statique). Revalidation conditionnelle
                via ETag / If-None-Match (304).
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CarList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/cars/random:
    get:
      operationId: getRandomCar
      summary: Renvoie une voiture aléatoire satisfaisant les filtres.
      description: >
        Tire une seule voiture au hasard parmi celles qui satisfont les filtres
        (mêmes filtres optionnels que /v1/cars, hors q/dlc/ids/obtain/
        updated_since et pagination).
        Pensé pour les bots Discord
        ("bagnole random du jour"), défis communautaires et easter-eggs sur la
        landing. Réponse non cacheable (Cache-Control: no-store) : chaque appel
        re-tire. 404 si aucune voiture ne correspond.
      tags: [Cars]
      x-ogen-operation-group: Cars
      parameters:
        - $ref: '#/components/parameters/Game'
        - name: make
          in: query
          description: Filtre par constructeur (ex. "Ford").
          schema: { type: string }
        - name: class
          in: query
          description: Filtre par classe PI.
          schema: { $ref: '#/components/schemas/CarClass' }
        - name: pi_min
          in: query
          description: Performance Index minimum (inclus).
          schema: { type: integer, minimum: 100, maximum: 999 }
        - name: pi_max
          in: query
          description: Performance Index maximum (inclus).
          schema: { type: integer, minimum: 100, maximum: 999 }
        - name: drivetrain
          in: query
          description: Filtre par transmission.
          schema: { $ref: '#/components/schemas/Drivetrain' }
        - name: category
          in: query
          description: Filtre par catégorie / division in-game (ex. "Modern Supercars"). Correspondance exacte.
          schema: { type: string }
      responses:
        '200':
          description: Une voiture tirée au hasard parmi les correspondances.
          headers:
            Cache-Control:
              description: Toujours no-store (tirage aléatoire, jamais mis en cache).
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Car' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/cars/compare:
    get:
      operationId: compareCars
      summary: Compare 2 à 3 voitures côte à côte.
      description: >
        Renvoie les voitures demandées (2 à 3, via `ids`) dans l'ordre de la
        requête, pour un affichage côte à côte (overlays, bots Discord) : PI,
        classe, transmission et stats (vitesse/accélération/handling/freinage)
        sont alignés. Chaque entrée est l'objet Car complet. Comparaison
        stricte : 400 si moins de 2 ou plus de 3 ids ; 404 si un id est
        inconnu (contrairement au filtre `ids` de /v1/cars, aucun id n'est
        ignoré). L'id étant la clé stable globale, pas de paramètre `game`.
      tags: [Cars]
      x-ogen-operation-group: Cars
      parameters:
        - name: ids
          in: query
          required: true
          description: >-
            Identifiants des voitures à comparer (CSV, ex.
            ids=fh6-mazda-rx7-1997,fh6-toyota-supra-1998), 2 à 3 valeurs.
            L'ordre est conservé dans la réponse.
          style: form
          explode: false
          schema:
            type: array
            minItems: 2
            maxItems: 3
            items: { type: string }
      responses:
        '200':
          description: Les voitures demandées, alignées dans l'ordre des ids.
          headers:
            Cache-Control:
              description: >-
                Cache long (catalogue quasi-statique). Revalidation conditionnelle
                via ETag / If-None-Match (304).
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CarComparison' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/cars/{id}:
    get:
      operationId: getCar
      summary: Récupère une voiture par identifiant.
      tags: [Cars]
      x-ogen-operation-group: Cars
      parameters:
        - name: id
          in: path
          required: true
          description: Identifiant stable de la voiture.
          schema: { type: string }
      responses:
        '200':
          description: La voiture demandée.
          headers:
            Cache-Control:
              description: >-
                Cache long (catalogue quasi-statique). Revalidation conditionnelle
                via ETag / If-None-Match (304).
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Car' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/cars/{id}/upgrades:
    get:
      operationId: listCarUpgrades
      summary: Liste les upgrades disponibles pour une voiture.
      description: >
        Pièces d'upgrade montables sur la voiture, avec leurs contraintes
        d'installation (prérequis, groupe exclusif). Le jeu est déterminé par la
        voiture (pas de paramètre game). Voiture inconnue ou sans upgrade
        sourcé → page vide.
      tags: [Upgrades]
      x-ogen-operation-group: Upgrades
      parameters:
        - name: id
          in: path
          required: true
          description: Identifiant stable de la voiture.
          schema: { type: string }
        - name: category
          in: query
          description: Filtre par catégorie de pièce.
          schema: { $ref: '#/components/schemas/UpgradePartCategory' }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Page d'upgrades disponibles pour la voiture.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CarUpgradeList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/cars/{id}/mastery:
    get:
      operationId: getCarMastery
      summary: Arbre Car Mastery d'une voiture (grille de perks 4×4).
      description: >
        Perks de l'arbre Car Mastery FH6 de la voiture. Chaque perk occupe une
        case (row, col) de la grille 4×4, coûte des Skill Points (spCost), peut
        dépendre d'une autre (prereqPerkId) et certaines débloquent une voiture
        cachée (effectType car_unlock → unlockedCarId). Le jeu est déterminé par
        la voiture. Voiture inconnue ou arbre non sourcé → liste vide.
      tags: [Mastery]
      x-ogen-operation-group: Mastery
      parameters:
        - name: id
          in: path
          required: true
          description: Identifiant stable de la voiture.
          schema: { type: string }
      responses:
        '200':
          description: Les perks de l'arbre Car Mastery de la voiture.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/CarMasteryPerk' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/cars/{id}/obtain:
    get:
      operationId: getCarObtain
      summary: Vue agrégée « comment obtenir cette voiture ».
      description: >
        Agrège toutes les voies d'obtention connues d'une voiture : méthode du
        catalogue (autoshow, wheelspin…) + prix, packs DLC qui la contiennent,
        Barn Find, Treasure Car, paliers du Collection Journal qui la
        récompensent et perks Car Mastery (car_unlock) qui la débloquent.
        Sources absentes → listes vides / champs omis (rien d'inventé).
        404 si la voiture est inconnue.
      tags: [Cars]
      x-ogen-operation-group: Cars
      parameters:
        - name: id
          in: path
          required: true
          description: Identifiant stable de la voiture.
          schema: { type: string }
      responses:
        '200':
          description: Les voies d'obtention de la voiture.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CarObtain' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/manufacturers:
    get:
      operationId: listManufacturers
      summary: Liste les constructeurs.
      tags: [Manufacturers]
      x-ogen-operation-group: Manufacturers
      parameters:
        - $ref: '#/components/parameters/Game'
        - name: country
          in: query
          description: Filtre par pays du constructeur. Correspondance exacte.
          schema: { type: string }
        - name: q
          in: query
          description: Recherche plein texte sur le nom du constructeur.
          schema: { type: string }
      responses:
        '200':
          description: Liste des constructeurs pour le jeu.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Manufacturer' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/reference:
    get:
      operationId: getReference
      summary: Énumérations et compteurs (facettes) pour les filtres clients.
      description: >
        Facettes agrégées pour construire les filtres d'un client en un seul
        appel : classes PI (incluant R en FH6), transmissions, types de
        carrosserie, pays des constructeurs et catégories (divisions in-game)
        — comptées pour le `game` demandé. La liste `games` est globale (volumes
        par jeu, indépendante du paramètre game) pour amorcer un sélecteur de
        jeu. Réponse fortement cacheable, invalidée par les jobs d'ingestion.
      tags: [Reference]
      x-ogen-operation-group: Reference
      parameters:
        - $ref: '#/components/parameters/Game'
      responses:
        '200':
          description: Facettes de référence pour le jeu.
          headers:
            Cache-Control:
              description: Politique de cache (réponse fortement cacheable, purgée à l'ingestion).
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Reference' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/meta:
    get:
      operationId: getMeta
      summary: "Métadonnées du service : jeux supportés, volumes et fraîcheur des données."
      description: >
        Métadonnées légères pour les consommateurs et le dogfooding : jeux
        supportés (fh6, fh5), nombre de voitures par jeu et derniers timestamps
        d'ingestion du catalogue et de la playlist. Les timestamps proviennent du
        journal d'ingestion (data_changes) : `catalogUpdatedAt` (ressource car) et
        `playlistUpdatedAt` (ressource series) sont absents si la ressource n'a
        jamais été ingérée pour le jeu (rien d'inventé). `dataVersion` porte la
        version de jeu de données publiée si l'opérateur l'a tamponnée.
        `generatedAt` = instant de calcul, pour estimer l'âge côté client.
        Réponse à cache court : la fraîcheur est l'objet même de l'endpoint.
      tags: [Meta]
      x-ogen-operation-group: Meta
      responses:
        '200':
          description: Métadonnées du service.
          headers:
            Cache-Control:
              description: Cache court (la donnée de fraîcheur doit rester quasi temps réel).
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Meta' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/dlc-packs:
    get:
      operationId: listDlcPacks
      summary: Liste les packs DLC / extensions d'un jeu.
      tags: [DLC]
      x-ogen-operation-group: DLC
      parameters:
        - $ref: '#/components/parameters/Game'
        - name: kind
          in: query
          description: Filtre par type de pack.
          schema: { $ref: '#/components/schemas/DlcKind' }
      responses:
        '200':
          description: Les packs DLC connus pour le jeu (plus récents d'abord).
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/DlcPack' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/dlc-packs/{id}:
    get:
      operationId: getDlcPack
      summary: Récupère un pack DLC par identifiant.
      tags: [DLC]
      x-ogen-operation-group: DLC
      parameters:
        - name: id
          in: path
          required: true
          description: Identifiant stable du pack.
          schema: { type: string }
      responses:
        '200':
          description: Le pack demandé.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DlcPack' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/playlist/current:
    get:
      operationId: getCurrentPlaylist
      summary: Festival Playlist courante d'un jeu.
      tags: [Playlist]
      x-ogen-operation-group: Playlist
      parameters:
        - $ref: '#/components/parameters/Game'
      responses:
        '200':
          description: La série courante avec ses récompenses et défis.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Series' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/playlist/series:
    get:
      operationId: listSeries
      summary: Liste les séries de Festival Playlist.
      tags: [Playlist]
      x-ogen-operation-group: Playlist
      parameters:
        - $ref: '#/components/parameters/Game'
      responses:
        '200':
          description: Les séries connues pour le jeu (récentes d'abord).
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Series' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/playlist/series/{id}:
    get:
      operationId: getSeries
      summary: Récupère une série par identifiant.
      tags: [Playlist]
      x-ogen-operation-group: Playlist
      parameters:
        - name: id
          in: path
          required: true
          description: Identifiant stable de la série.
          schema: { type: string }
      responses:
        '200':
          description: La série demandée avec ses récompenses et défis.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Series' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/tracks:
    get:
      operationId: listTracks
      summary: Liste les tracés / circuits indexés.
      tags: [Tracks]
      x-ogen-operation-group: Tracks
      parameters:
        - $ref: '#/components/parameters/Game'
        - name: type
          in: query
          description: Filtre par catégorie de tracé.
          schema: { $ref: '#/components/schemas/TrackType' }
        - name: region
          in: query
          description: Filtre par région.
          schema: { $ref: '#/components/schemas/Region' }
        - name: q
          in: query
          description: Recherche plein texte sur le nom du tracé.
          schema: { type: string }
        - $ref: '#/components/parameters/UpdatedSince'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Page de tracés.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TrackList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/tracks/random:
    get:
      operationId: getRandomTrack
      summary: Renvoie un tracé aléatoire satisfaisant les filtres.
      description: >
        Tire un seul tracé au hasard parmi ceux qui satisfont les filtres
        (mêmes filtres optionnels que /v1/tracks, hors q et pagination).
        Pensé pour les bots Discord et défis communautaires (« course aléatoire
        du jour »). Réponse non cacheable (Cache-Control: no-store) : chaque
        appel re-tire. 404 si aucun tracé ne correspond.
      tags: [Tracks]
      x-ogen-operation-group: Tracks
      parameters:
        - $ref: '#/components/parameters/Game'
        - name: type
          in: query
          description: Filtre par catégorie de tracé.
          schema: { $ref: '#/components/schemas/TrackType' }
        - name: region
          in: query
          description: Filtre par région.
          schema: { $ref: '#/components/schemas/Region' }
      responses:
        '200':
          description: Un tracé tiré au hasard parmi les correspondances.
          headers:
            Cache-Control:
              description: Toujours no-store (tirage aléatoire, jamais mis en cache).
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Track' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/tracks/{id}:
    get:
      operationId: getTrack
      summary: Récupère un tracé par identifiant.
      tags: [Tracks]
      x-ogen-operation-group: Tracks
      parameters:
        - name: id
          in: path
          required: true
          description: Identifiant stable du tracé.
          schema: { type: string }
      responses:
        '200':
          description: Le tracé demandé.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Track' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/pr-stunts:
    get:
      operationId: listPrStunts
      summary: Liste les PR Stunts (speed trap, speed zone, drift zone, danger sign).
      tags: [PRStunts]
      x-ogen-operation-group: PRStunts
      parameters:
        - $ref: '#/components/parameters/Game'
        - name: type
          in: query
          description: Filtre par type de PR Stunt.
          schema: { $ref: '#/components/schemas/PRStuntType' }
        - name: region
          in: query
          description: Filtre par région.
          schema: { $ref: '#/components/schemas/Region' }
        - name: q
          in: query
          description: Recherche plein texte sur le nom du PR Stunt.
          schema: { type: string }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Page de PR Stunts.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PRStuntList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/pr-stunts/{id}:
    get:
      operationId: getPrStunt
      summary: Récupère un PR Stunt par identifiant.
      tags: [PRStunts]
      x-ogen-operation-group: PRStunts
      parameters:
        - name: id
          in: path
          required: true
          description: Identifiant stable du PR Stunt.
          schema: { type: string }
      responses:
        '200':
          description: Le PR Stunt demandé.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PRStunt' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/events:
    get:
      operationId: listEvents
      summary: Liste les événements / courses.
      tags: [Events]
      x-ogen-operation-group: Events
      parameters:
        - $ref: '#/components/parameters/Game'
        - name: type
          in: query
          description: Filtre par type d'événement.
          schema: { $ref: '#/components/schemas/EventType' }
        - name: region
          in: query
          description: Filtre par région.
          schema: { $ref: '#/components/schemas/Region' }
        - name: q
          in: query
          description: Recherche plein texte sur le nom de l'événement.
          schema: { type: string }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Page d'événements.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EventList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/events/{id}:
    get:
      operationId: getEvent
      summary: Récupère un événement par identifiant.
      tags: [Events]
      x-ogen-operation-group: Events
      parameters:
        - name: id
          in: path
          required: true
          description: Identifiant stable de l'événement.
          schema: { type: string }
      responses:
        '200':
          description: L'événement demandé.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Event' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/barn-finds:
    get:
      operationId: listBarnFinds
      summary: Liste les Barn Finds (épaves cachées à trouver puis restaurer).
      tags: [BarnFinds]
      x-ogen-operation-group: BarnFinds
      parameters:
        - $ref: '#/components/parameters/Game'
        - name: region
          in: query
          description: Filtre par région.
          schema: { $ref: '#/components/schemas/Region' }
        - name: car_id
          in: query
          description: Filtre par voiture obtenue (lookup inverse « cette voiture est-elle un Barn Find ? »).
          schema: { type: string }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Page de Barn Finds.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BarnFindList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/barn-finds/{id}:
    get:
      operationId: getBarnFind
      summary: Récupère un Barn Find par identifiant.
      tags: [BarnFinds]
      x-ogen-operation-group: BarnFinds
      parameters:
        - name: id
          in: path
          required: true
          description: Identifiant stable du Barn Find.
          schema: { type: string }
      responses:
        '200':
          description: Le Barn Find demandé.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BarnFind' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/treasure-cars:
    get:
      operationId: listTreasureCars
      summary: Liste les Treasure Cars (voitures liées aux postcards).
      tags: [TreasureCars]
      x-ogen-operation-group: TreasureCars
      parameters:
        - $ref: '#/components/parameters/Game'
        - name: region
          in: query
          description: Filtre par région.
          schema: { $ref: '#/components/schemas/Region' }
        - name: car_id
          in: query
          description: Filtre par voiture obtenue (lookup inverse « cette voiture est-elle une Treasure Car ? »).
          schema: { type: string }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Page de Treasure Cars.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TreasureCarList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/treasure-cars/{id}:
    get:
      operationId: getTreasureCar
      summary: Récupère une Treasure Car par identifiant.
      tags: [TreasureCars]
      x-ogen-operation-group: TreasureCars
      parameters:
        - name: id
          in: path
          required: true
          description: Identifiant stable de la Treasure Car.
          schema: { type: string }
      responses:
        '200':
          description: La Treasure Car demandée.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TreasureCar' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/upgrade-parts:
    get:
      operationId: listUpgradeParts
      summary: Catalogue global des pièces d'upgrade.
      tags: [Upgrades]
      x-ogen-operation-group: Upgrades
      parameters:
        - $ref: '#/components/parameters/Game'
        - name: category
          in: query
          description: Filtre par catégorie de pièce.
          schema: { $ref: '#/components/schemas/UpgradePartCategory' }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Page de pièces d'upgrade.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpgradePartList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/journal:
    get:
      operationId: listJournalTiers
      summary: Liste les paliers du Collection Journal (wristbands + stamps).
      description: >
        Paliers de progression du Collection Journal FH6 : 7 Wristbands
        (track horizon_festival, Yellow → Gold ; Gold débloque Legend Island +
        The Goliath) et 7 Stamps (track discover_japan, Visitor → Master
        Explorer ; poussent les Barn Finds). 17 voitures ne sont débloquables que
        via les rewardCarId de ces paliers. Remplace les Accolades de FH5.
        Ensemble borné (≤ 14 par jeu) → pas de pagination.
      tags: [Journal]
      x-ogen-operation-group: Journal
      parameters:
        - $ref: '#/components/parameters/Game'
        - name: track
          in: query
          description: Filtre par piste de progression.
          schema: { $ref: '#/components/schemas/JournalTrack' }
      responses:
        '200':
          description: Les paliers du Collection Journal du jeu (par piste, puis niveau croissant).
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/JournalTier' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/stories:
    get:
      operationId: listStories
      summary: Liste les Stories (missions narratives).
      description: >
        Stories FH6 : missions narratives de Discover Japan, qui rapportent des
        stamps au Collection Journal. Sources propres (wiki Fandom) ; champs non
        sourcés → omis.
      tags: [Stories]
      x-ogen-operation-group: Stories
      parameters:
        - $ref: '#/components/parameters/Game'
        - name: region
          in: query
          description: Filtre par région.
          schema: { $ref: '#/components/schemas/Region' }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Page de Stories.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StoryList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/tours:
    get:
      operationId: listTours
      summary: Liste les Tours (visites guidées Discovery).
      description: >
        Tours of Japan FH6 : visites guidées de l'activité Discovery, qui
        rapportent des stamps au Collection Journal. Sources propres (wiki
        Fandom) ; champs non sourcés → omis.
      tags: [Tours]
      x-ogen-operation-group: Tours
      parameters:
        - $ref: '#/components/parameters/Game'
        - name: region
          in: query
          description: Filtre par région.
          schema: { $ref: '#/components/schemas/Region' }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Page de Tours.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TourList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/search:
    get:
      operationId: search
      summary: Recherche globale multi-ressources (autocomplete).
      description: >
        Recherche plein texte sur les ressources nommées (voitures, tracés,
        événements, PR stunts, constructeurs, packs DLC) en un seul appel.
        Pensé pour l'autocomplete d'un site ou d'un bot. Résultats bornés par
        limit (pas de pagination) ; kinds restreint les types cherchés.
      tags: [Search]
      x-ogen-operation-group: Search
      parameters:
        - $ref: '#/components/parameters/Game'
        - name: q
          in: query
          required: true
          description: Terme de recherche (sous-chaîne, insensible à la casse).
          schema: { type: string, minLength: 2, maxLength: 100 }
        - name: kinds
          in: query
          description: Types de ressources à chercher (tous si absent).
          style: form
          explode: false
          schema:
            type: array
            items: { $ref: '#/components/schemas/SearchResultKind' }
        - name: limit
          in: query
          description: Nombre maximal de résultats.
          schema: { type: integer, minimum: 1, maximum: 50, default: 10 }
      responses:
        '200':
          description: Les résultats correspondants (groupés par type, nom croissant).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SearchResultList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/changes:
    get:
      operationId: listChanges
      summary: Journal des changements de données.
      description: >
        Flux des changements du jeu de données (voiture ajoutée/modifiée, pack
        sorti, série publiée…), alimenté par les jobs d'ingestion. Donne aux
        clients un « what's new » et la base d'une synchro incrémentale.
        Plus récents d'abord.
      tags: [Changes]
      x-ogen-operation-group: Changes
      parameters:
        - $ref: '#/components/parameters/Game'
        - name: resource
          in: query
          description: Filtre par type de ressource (car, dlc_pack, series…). Valeur libre, non figée au contrat.
          schema: { type: string }
        - name: action
          in: query
          description: Filtre par action.
          schema: { $ref: '#/components/schemas/ChangeAction' }
        - name: since
          in: query
          description: Ne renvoie que les changements postérieurs à cet instant.
          schema: { type: string, format: date-time }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Page de changements (plus récents d'abord).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ChangeList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  parameters:
    Game:
      name: game
      in: query
      required: true
      description: Jeu cible (obligatoire sur les ressources multi-jeux).
      schema: { $ref: '#/components/schemas/Game' }
    Page:
      name: page
      in: query
      description: Numéro de page (1-based).
      schema: { type: integer, minimum: 1, default: 1 }
    PageSize:
      name: page_size
      in: query
      description: Taille de page.
      schema: { type: integer, minimum: 1, maximum: 100, default: 50 }
    UpdatedSince:
      name: updated_since
      in: query
      description: >
        Ne renvoie que les éléments modifiés après cet instant (synchro
        incrémentale : un client ne re-télécharge que le delta).
      schema: { type: string, format: date-time }

  responses:
    BadRequest:
      description: Requête invalide.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: Clé API absente ou invalide.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Ressource introuvable.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Error' }
    TooManyRequests:
      description: Quota de rate-limit dépassé.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Error' }

  schemas:
    Game:
      type: string
      description: Identifiant du jeu.
      enum: [fh6, fh5]

    CarClass:
      type: string
      description: >
        Classe Performance Index. R (voitures track-focused) introduite en FH6 ;
        absente de FH5.
      enum: [D, C, B, A, S1, S2, X, R]

    Drivetrain:
      type: string
      description: Transmission.
      enum: [FWD, RWD, AWD]

    CarStats:
      type: object
      description: Statistiques de performance (échelle du jeu).
      properties:
        speed: { type: number }
        handling: { type: number }
        acceleration: { type: number }
        launch: { type: number }
        braking: { type: number }
        offroad: { type: number }
      additionalProperties: { type: number }

    Car:
      type: object
      required: [id, game, name, make, class, pi, drivetrain]
      examples:
        - id: fh6-mazda-rx7-1997
          game: fh6
          name: "1997 Mazda RX-7"
          make: Mazda
          model: RX-7
          year: 1997
          class: A
          pi: 800
          drivetrain: RWD
          bodyType: Coupe
          category: Retro Sports Cars
          valueCr: 45000
          obtainMethod: autoshow
      properties:
        id: { type: string }
        game: { $ref: '#/components/schemas/Game' }
        name: { type: string }
        make: { type: string }
        model: { type: string }
        year: { type: integer }
        class: { $ref: '#/components/schemas/CarClass' }
        pi: { type: integer, minimum: 100, maximum: 999 }
        drivetrain: { $ref: '#/components/schemas/Drivetrain' }
        stats: { $ref: '#/components/schemas/CarStats' }
        bodyType: { type: string }
        category: { type: string, description: Catégorie / division in-game (ex. "Modern Supercars"). Absente si non sourcée. }
        rarity: { type: string }
        valueCr: { type: integer, format: int64 }
        obtainMethod: { type: string }
        imageUrl: { type: string, format: uri }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    CarList:
      type: object
      required: [items, total, page, pageSize]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Car' }
        total: { type: integer, format: int64 }
        page: { type: integer }
        pageSize: { type: integer }

    CarComparison:
      type: object
      description: >
        Comparaison de 2 à 3 voitures, alignées dans l'ordre des ids demandés.
        Chaque entrée est l'objet Car complet (PI, classe, transmission, stats).
      required: [items]
      properties:
        items:
          type: array
          minItems: 2
          maxItems: 3
          items: { $ref: '#/components/schemas/Car' }

    Manufacturer:
      type: object
      required: [game, name, carCount]
      properties:
        game: { $ref: '#/components/schemas/Game' }
        name: { type: string }
        country: { type: string }
        carCount:
          type: integer
          format: int64
          description: Nombre de voitures du constructeur pour le jeu (agrégat GROUP BY ; 0 si aucune).

    DlcKind:
      type: string
      description: Type de pack DLC.
      enum: [car_pass, expansion, standalone]

    DlcPack:
      type: object
      description: Pack DLC / extension (Car Pass, expansion, standalone).
      required: [id, game, name, kind]
      properties:
        id: { type: string }
        game: { $ref: '#/components/schemas/Game' }
        name: { type: string }
        kind: { $ref: '#/components/schemas/DlcKind' }
        releasedAt:
          type: string
          format: date-time
          description: Date de sortie. Absente si pack annoncé mais pas encore sorti.
        description: { type: string }
        source: { type: string, description: Source propre de la donnée. }
        lastVerified: { type: string, format: date-time }

    Reward:
      type: object
      required: [id, atPercent, type, item]
      properties:
        id: { type: string }
        atPercent: { type: integer, minimum: 0, maximum: 100 }
        type: { type: string }
        item: { type: string }

    Challenge:
      type: object
      required: [id, scope, name, requirement]
      properties:
        id: { type: string }
        scope: { type: string }
        name: { type: string }
        requirement: { type: string }
        reward: { type: string }
        expiresAt: { type: string, format: date-time }

    Series:
      type: object
      required: [id, game, series, name, isCurrent]
      properties:
        id: { type: string }
        game: { $ref: '#/components/schemas/Game' }
        series: { type: integer }
        name: { type: string }
        season: { type: string }
        week: { type: integer }
        startsAt: { type: string, format: date-time }
        endsAt: { type: string, format: date-time }
        isCurrent: { type: boolean }
        rewards:
          type: array
          items: { $ref: '#/components/schemas/Reward' }
        challenges:
          type: array
          items: { $ref: '#/components/schemas/Challenge' }

    Region:
      type: string
      description: >
        Région de la carte (dépend du jeu ; FH6 = 7 régions / 74 districts).
        Valeur libre : l'ensemble n'est pas figé au contrat. Absente → champ omis.

    TrackType:
      type: string
      description: Catégorie de tracé.
      enum: [circuit, road, dirt, cross, street, touge, horizon_rush]

    Track:
      type: object
      description: Tracé indexé (fonde les leaderboards et la carte).
      required: [id, game, name, type]
      examples:
        - id: fh6-shibuya-circuit
          game: fh6
          name: Shibuya Circuit
          type: street
          region: Tokyo
          lengthM: 2400
      properties:
        id: { type: string }
        game: { $ref: '#/components/schemas/Game' }
        name: { type: string }
        type: { $ref: '#/components/schemas/TrackType' }
        region: { $ref: '#/components/schemas/Region' }
        lengthM: { type: integer, description: Longueur en mètres. }
        surfaceMix: { type: string, description: Répartition des surfaces (texte libre). }
        startLat: { type: number, format: double }
        startLng: { type: number, format: double }
        source: { type: string, description: Source propre de la donnée. }
        lastVerified: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    TrackList:
      type: object
      required: [items, total, page, pageSize]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Track' }
        total: { type: integer, format: int64 }
        page: { type: integer }
        pageSize: { type: integer }

    PRStuntType:
      type: string
      description: Type de PR Stunt (épreuve de bord de route).
      enum: [speed_trap, speed_zone, drift_zone, danger_sign]

    PRStunt:
      type: object
      description: PR Stunt (speed trap, speed zone, drift zone, danger sign).
      required: [id, game, type, name]
      properties:
        id: { type: string }
        game: { $ref: '#/components/schemas/Game' }
        type: { $ref: '#/components/schemas/PRStuntType' }
        name: { type: string }
        region: { $ref: '#/components/schemas/Region' }
        lat: { type: number, format: double }
        lng: { type: number, format: double }
        targetScore: { type: integer, description: Score cible (3 étoiles) si connu. }

    PRStuntList:
      type: object
      required: [items, total, page, pageSize]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/PRStunt' }
        total: { type: integer, format: int64 }
        page: { type: integer }
        pageSize: { type: integer }

    EventType:
      type: string
      description: >
        Type d'événement / course. showcase = Horizon Showcase (événement
        scénarisé one-shot, voiture imposée).
      enum: [circuit, road, dirt, cross, street, touge_battle, horizon_rush, drag_meet, time_attack, showcase]

    Event:
      type: object
      description: Événement / course (route fixe ou circuit).
      required: [id, game, name, type]
      properties:
        id: { type: string }
        game: { $ref: '#/components/schemas/Game' }
        name: { type: string }
        type: { $ref: '#/components/schemas/EventType' }
        region: { $ref: '#/components/schemas/Region' }
        startLat: { type: number, format: double }
        startLng: { type: number, format: double }
        endLat: { type: number, format: double }
        endLng: { type: number, format: double }
        routeGeojson:
          type: object
          additionalProperties: true
          description: Tracé GeoJSON (LineString) si disponible.
        carClassRestriction: { type: string }
        lengthM: { type: integer }

    EventList:
      type: object
      required: [items, total, page, pageSize]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Event' }
        total: { type: integer, format: int64 }
        page: { type: integer }
        pageSize: { type: integer }

    BarnFind:
      type: object
      description: >
        Barn Find FH6 : épave cachée à localiser dans une zone de recherche, puis
        à restaurer. Déblocage progressif via les stamps Discover Japan
        (prerequisiteStampLevel 1-7 : Visitor, Sightseer, Traveller, Pathfinder,
        Navigator, Adventurer, Master Explorer). Mécanique distincte des
        Treasure Cars. Coordonnées NULL si non sourcées (datasets communautaires).
      required: [id, game, carId]
      properties:
        id: { type: string }
        game: { $ref: '#/components/schemas/Game' }
        carId: { type: string, description: Identifiant de la voiture obtenue (réf. /v1/cars). }
        region: { $ref: '#/components/schemas/Region' }
        searchZoneCenterLat: { type: number, format: double, description: Latitude du centre de la zone de recherche. }
        searchZoneCenterLng: { type: number, format: double, description: Longitude du centre de la zone de recherche. }
        searchZoneRadiusM: { type: integer, description: Rayon de la zone de recherche (mètres). }
        prerequisiteStampLevel:
          type: integer
          minimum: 1
          maximum: 7
          description: >
            Niveau de stamp Discover Japan requis pour débloquer ce Barn Find
            (1=Visitor, 2=Sightseer, 3=Traveller, 4=Pathfinder, 5=Navigator,
            6=Adventurer, 7=Master Explorer).
        restorationTimeH: { type: integer, description: Durée de restauration (heures de jeu). }
        source: { type: string, description: Source propre de la donnée. }
        lastVerified: { type: string, format: date-time }

    BarnFindList:
      type: object
      required: [items, total, page, pageSize]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/BarnFind' }
        total: { type: integer, format: int64 }
        page: { type: integer }
        pageSize: { type: integer }

    TreasureCar:
      type: object
      description: >
        Treasure Car FH6 : voiture associée à une postcard, conduisible
        immédiatement après la cutscene de lavage. Mécanique distincte des
        Barn Finds (pas de stamp ni de restauration). Coordonnées NULL si non
        sourcées (l'indice de la postcard suffit à localiser in-game).
      required: [id, game, carId]
      properties:
        id: { type: string }
        game: { $ref: '#/components/schemas/Game' }
        carId: { type: string, description: Identifiant de la voiture obtenue (réf. /v1/cars). }
        region: { $ref: '#/components/schemas/Region' }
        postcardClue: { type: string, description: Texte de l'indice (postcard) menant à la voiture. }
        locationLat: { type: number, format: double, description: Latitude de l'emplacement si sourcée. }
        locationLng: { type: number, format: double, description: Longitude de l'emplacement si sourcée. }
        source: { type: string, description: Source propre de la donnée. }
        lastVerified: { type: string, format: date-time }

    TreasureCarList:
      type: object
      required: [items, total, page, pageSize]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/TreasureCar' }
        total: { type: integer, format: int64 }
        page: { type: integer }
        pageSize: { type: integer }

    UpgradePartCategory:
      type: string
      description: Catégorie de pièce d'upgrade.
      enum: [engine, drivetrain, aspiration, tires, weight, aero, brakes, transmission, intake, exhaust, cooling, fuel_system]

    UpgradePart:
      type: object
      description: >
        Pièce du catalogue d'upgrade (générique, indépendante d'une voiture).
        Les deltas sont relatifs au palier inférieur ; NULL si non sourcés
        (précision > exhaustivité). Sourcing progressif : voitures populaires
        d'abord, extension par séries ensuite.
      required: [id, game, category, name]
      properties:
        id: { type: string }
        game: { $ref: '#/components/schemas/Game' }
        category: { $ref: '#/components/schemas/UpgradePartCategory' }
        name: { type: string }
        level:
          type: integer
          minimum: 1
          description: Palier de la pièce (1 = premier niveau). Omis si non applicable.
        piDelta: { type: integer, description: Variation de Performance Index apportée par la pièce. }
        weightDeltaKg: { type: integer, description: Variation de poids (kg). Négatif = allègement. }
        powerDeltaHp: { type: integer, description: Variation de puissance (ch). }
        torqueDeltaNm: { type: integer, description: Variation de couple (Nm). }
        source: { type: string, description: Source propre de la donnée. }
        lastVerified: { type: string, format: date-time }

    UpgradePartList:
      type: object
      required: [items, total, page, pageSize]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/UpgradePart' }
        total: { type: integer, format: int64 }
        page: { type: integer }
        pageSize: { type: integer }

    CarUpgrade:
      type: object
      description: >
        Upgrade disponible pour une voiture : une pièce du catalogue assortie de
        ses contraintes d'installation (prérequis, groupe exclusif).
      required: [part]
      properties:
        part: { $ref: '#/components/schemas/UpgradePart' }
        requiresPartId:
          type: string
          description: Pièce prérequise (réf. upgrade-parts) à monter avant celle-ci. Absent si aucune.
        exclusiveGroup:
          type: string
          description: >
            Groupe exclusif : une seule pièce d'un même groupe peut être montée
            à la fois (ex. compounds de pneus). Absent si non concerné.

    CarUpgradeList:
      type: object
      required: [items, total, page, pageSize]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/CarUpgrade' }
        total: { type: integer, format: int64 }
        page: { type: integer }
        pageSize: { type: integer }

    CarMasteryPerk:
      type: object
      description: >
        Perk de l'arbre Car Mastery FH6 : une case (row, col) de la grille 4×4 de
        la voiture, débloquée contre des Skill Points. Champs non sourcés → NULL
        (sourcing progressif : dataset forzagarage.com + wiki Fandom).
      required: [id, carId]
      properties:
        id: { type: string }
        carId: { type: string, description: Voiture propriétaire de l'arbre (réf. /v1/cars). }
        row: { type: integer, minimum: 1, maximum: 4, description: Ligne dans la grille (1-4). }
        col: { type: integer, minimum: 1, maximum: 4, description: Colonne dans la grille (1-4). }
        name: { type: string }
        spCost: { type: integer, description: Coût en Skill Points. }
        effectDescription: { type: string }
        effectType:
          type: string
          description: >
            Type d'effet (valeur libre). Courants : credits, xp_boost, wheelspin,
            super_wheelspin, skill_score, car_unlock.
        effectValue:
          type: integer
          description: Valeur de l'effet (montant de crédits ou pourcentage de boost selon le type).
        prereqPerkId: { type: string, description: Perk prérequise dans la grille. Absent si point d'entrée. }
        unlockedCarId:
          type: string
          description: >
            Voiture cachée débloquée par cette perk (effectType car_unlock ;
            réf. /v1/cars). Absent sinon.
        source: { type: string, description: Source propre de la donnée. }
        lastVerified: { type: string, format: date-time }

    JournalTrack:
      type: string
      description: Piste de progression du Collection Journal.
      enum: [horizon_festival, discover_japan]

    JournalTierColor:
      type: string
      description: >
        Couleur du wristband (track horizon_festival : Yellow → Gold sur 7
        niveaux). Absente pour les stamps Discover Japan.
      enum: [yellow, green, blue, pink, orange, purple, gold]

    JournalTier:
      type: object
      description: >
        Palier du Collection Journal FH6 : un niveau (1-7) d'une piste
        (horizon_festival = wristbands colorés Yellow → Gold ; discover_japan =
        stamps Visitor → Master Explorer). Atteint à pointsRequired points de
        collection. Peut débloquer une voiture (rewardCarId) et/ou du contenu
        (unlocksDescription : Legend Island + The Goliath, poussée des Barn
        Finds…). Remplace les Accolades de FH5. Champs non sourcés → omis.
      required: [id, game, track, level, name]
      properties:
        id: { type: string }
        game: { $ref: '#/components/schemas/Game' }
        track: { $ref: '#/components/schemas/JournalTrack' }
        level:
          type: integer
          minimum: 1
          maximum: 7
          description: Niveau du palier dans la piste (1-7).
        color: { $ref: '#/components/schemas/JournalTierColor' }
        name:
          type: string
          description: Nom du palier (couleur du wristband ou rang de stamp, ex. "Gold", "Master Explorer").
        pointsRequired:
          type: integer
          description: Points de collection requis pour atteindre le palier.
        rewardCarId:
          type: string
          description: Voiture débloquée par ce palier (réf. /v1/cars). Absent si le palier ne donne pas de voiture.
        unlocksDescription:
          type: string
          description: >
            Contenu débloqué par le palier (ex. "Legend Island + The Goliath",
            poussée des Barn Finds). Absent si non sourcé.
        source: { type: string, description: Source propre de la donnée. }
        lastVerified: { type: string, format: date-time }

    RefCount:
      type: object
      description: >
        Valeur d'une facette (code) et son nombre d'occurrences pour le jeu
        demandé. Pour les facettes énumérées (classes, drivetrains), tous les
        codes valides sont renvoyés, count compris à 0. Pour les facettes libres
        (bodyTypes, countries, categories), seules les valeurs présentes le sont.
      required: [code, count]
      properties:
        code: { type: string }
        count: { type: integer, format: int64 }

    GameCount:
      type: object
      description: Jeu disponible et ses volumes (voitures, séries de playlist).
      required: [code, countCars, countSeries]
      properties:
        code: { $ref: '#/components/schemas/Game' }
        countCars: { type: integer, format: int64 }
        countSeries: { type: integer, format: int64 }

    Reference:
      type: object
      description: >
        Facettes de référence pour amorcer les filtres d'un client. Les compteurs
        classes/drivetrains/bodyTypes/countries/categories sont scopés au `game`
        demandé ; games est global.
      required: [game, classes, drivetrains, bodyTypes, countries, categories, regions, trackTypes, eventTypes, prStuntTypes, obtainMethods, games]
      properties:
        game: { $ref: '#/components/schemas/Game' }
        classes:
          type: array
          description: Classes PI et leurs compteurs (ordre PI, R en dernier ; count 0 inclus).
          items: { $ref: '#/components/schemas/RefCount' }
        drivetrains:
          type: array
          description: Transmissions et leurs compteurs (count 0 inclus).
          items: { $ref: '#/components/schemas/RefCount' }
        bodyTypes:
          type: array
          description: Types de carrosserie présents (plus fréquents d'abord).
          items: { $ref: '#/components/schemas/RefCount' }
        countries:
          type: array
          description: Pays des constructeurs présents (plus fréquents d'abord).
          items: { $ref: '#/components/schemas/RefCount' }
        categories:
          type: array
          description: Catégories / divisions in-game présentes (plus fréquentes d'abord).
          items: { $ref: '#/components/schemas/RefCount' }
        regions:
          type: array
          description: >
            Régions présentes sur les ressources carte (count = tracés +
            événements + PR stunts de la région ; plus fréquentes d'abord).
            Évite aux clients carte de hardcoder la liste des régions.
          items: { $ref: '#/components/schemas/RefCount' }
        trackTypes:
          type: array
          description: Types de tracé et leurs compteurs (ordre canonique, count 0 inclus).
          items: { $ref: '#/components/schemas/RefCount' }
        eventTypes:
          type: array
          description: Types d'événement et leurs compteurs (ordre canonique, count 0 inclus).
          items: { $ref: '#/components/schemas/RefCount' }
        prStuntTypes:
          type: array
          description: Types de PR Stunt et leurs compteurs (ordre canonique, count 0 inclus).
          items: { $ref: '#/components/schemas/RefCount' }
        obtainMethods:
          type: array
          description: >
            Méthodes d'obtention (valeurs du paramètre obtain de /v1/cars) et
            leurs compteurs (ordre canonique, count 0 inclus). obtain_method
            étant multi-valeurs, une voiture compte dans chacune de ses méthodes.
          items: { $ref: '#/components/schemas/RefCount' }
        games:
          type: array
          description: Jeux disponibles et leurs volumes (global, indépendant du paramètre game).
          items: { $ref: '#/components/schemas/GameCount' }

    MetaGame:
      type: object
      description: >
        Volumes et fraîcheur des données d'un jeu supporté. carCount = voitures au
        catalogue (0 si rien n'est encore ingéré). catalogUpdatedAt /
        playlistUpdatedAt = dernier timestamp d'ingestion (journal data_changes)
        pour les ressources car / series ; absents si jamais ingéré pour ce jeu.
      required: [game, carCount]
      properties:
        game: { $ref: '#/components/schemas/Game' }
        carCount: { type: integer, format: int64 }
        catalogUpdatedAt:
          type: string
          format: date-time
          description: Dernière ingestion du catalogue (voitures) pour ce jeu. Absent si jamais ingéré.
        playlistUpdatedAt:
          type: string
          format: date-time
          description: Dernière ingestion de la playlist (séries) pour ce jeu. Absent si jamais ingérée.

    Meta:
      type: object
      description: >
        Métadonnées du service : jeux supportés, volumes et fraîcheur des données.
        Pensé pour les consommateurs (sélecteur de jeu, indicateur « data à
        jour ? ») et le dogfooding. games liste un MetaGame par valeur de l'enum
        Game (les jeux sans données apparaissent à 0).
      required: [games, generatedAt]
      properties:
        games:
          type: array
          description: Jeux supportés et leurs volumes / fraîcheur (un par valeur de l'enum Game).
          items: { $ref: '#/components/schemas/MetaGame' }
        dataVersion:
          type: string
          description: >
            Version du jeu de données publiée (tampon opérateur, ex. snapshot wiki
            daté). Absente si non renseignée.
        generatedAt:
          type: string
          format: date-time
          description: Instant de calcul de la réponse (permet d'estimer l'âge des données côté client).

    CarObtainMasteryUnlock:
      type: object
      description: >
        Perk Car Mastery d'une autre voiture qui débloque cette voiture
        (effectType car_unlock).
      required: [perkId, ownerCarId]
      properties:
        perkId: { type: string, description: "Identifiant de la perk (réf. /v1/cars/{id}/mastery)." }
        ownerCarId: { type: string, description: Voiture dont l'arbre contient la perk (réf. /v1/cars). }
        perkName: { type: string }

    CarObtain:
      type: object
      description: >
        Vue agrégée « comment obtenir cette voiture » : méthode du catalogue,
        prix, packs DLC, Barn Find, Treasure Car, paliers Journal et perks
        Car Mastery qui la débloquent. Listes vides / champs omis si la voie
        n'existe pas ou n'est pas sourcée (rien d'inventé).
      required: [carId, game, dlcPacks, journalTiers, masteryUnlocks]
      properties:
        carId: { type: string }
        game: { $ref: '#/components/schemas/Game' }
        obtainMethod: { type: string, description: Méthode d'obtention du catalogue (ex. autoshow, wheelspin). Absente si non sourcée. }
        valueCr: { type: integer, format: int64, description: Prix autoshow en crédits. Absent si non sourcé. }
        dlcPacks:
          type: array
          description: Packs DLC contenant la voiture (vide si aucun).
          items: { $ref: '#/components/schemas/DlcPack' }
        barnFind:
          $ref: '#/components/schemas/BarnFind'
          description: Barn Find donnant la voiture. Absent si la voiture n'en est pas un.
        treasureCar:
          $ref: '#/components/schemas/TreasureCar'
          description: Treasure Car donnant la voiture. Absente si la voiture n'en est pas une.
        journalTiers:
          type: array
          description: Paliers du Collection Journal qui récompensent la voiture (vide si aucun).
          items: { $ref: '#/components/schemas/JournalTier' }
        masteryUnlocks:
          type: array
          description: Perks Car Mastery (car_unlock) qui débloquent la voiture (vide si aucune).
          items: { $ref: '#/components/schemas/CarObtainMasteryUnlock' }

    SearchResultKind:
      type: string
      description: Type de ressource d'un résultat de recherche.
      enum: [car, track, event, pr_stunt, manufacturer, dlc_pack]

    SearchResult:
      type: object
      description: >
        Résultat de la recherche globale. id permet le lookup détaillé sur la
        ressource correspondante (pour manufacturer, id = nom du constructeur).
      required: [kind, id, game, name]
      examples:
        - kind: car
          id: fh6-mazda-rx7-1997
          game: fh6
          name: "1997 Mazda RX-7"
          detail: "Mazda · A 800"
      properties:
        kind: { $ref: '#/components/schemas/SearchResultKind' }
        id: { type: string }
        game: { $ref: '#/components/schemas/Game' }
        name: { type: string }
        detail:
          type: string
          description: >
            Contexte court d'affichage (ex. "Ford · A 800" pour une voiture,
            "circuit" pour un tracé). Absent si rien à ajouter.

    SearchResultList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/SearchResult' }

    ChangeAction:
      type: string
      description: Action d'un changement de données.
      enum: [added, updated, removed]

    Change:
      type: object
      description: >
        Changement du jeu de données, enregistré par les jobs d'ingestion
        (ex. voiture ajoutée par le seed du catalogue).
      required: [id, game, resource, resourceId, action, occurredAt]
      examples:
        - id: 0196fdb2-aa11-7000-8000-000000000001
          game: fh6
          resource: car
          resourceId: fh6-mazda-rx7-1997
          action: added
          summary: "1997 Mazda RX-7"
          occurredAt: 2026-06-10T12:00:00Z
      properties:
        id: { type: string }
        game: { $ref: '#/components/schemas/Game' }
        resource: { type: string, description: Type de ressource (car, dlc_pack, series…). Valeur libre, non figée au contrat. }
        resourceId: { type: string, description: Identifiant de la ressource changée. }
        action: { $ref: '#/components/schemas/ChangeAction' }
        summary: { type: string, description: Description courte lisible (ex. nom de la voiture ajoutée). }
        occurredAt: { type: string, format: date-time }

    ChangeList:
      type: object
      required: [items, total, page, pageSize]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Change' }
        total: { type: integer, format: int64 }
        page: { type: integer }
        pageSize: { type: integer }

    Story:
      type: object
      description: >
        Story FH6 : mission narrative de Discover Japan, rapporte des stamps au
        Collection Journal. Champs non sourcés → omis.
      required: [id, game, name]
      examples:
        - id: fh6-story-taxi-tales
          game: fh6
          name: Taxi Tales
          region: Tokyo
          chaptersCount: 8
      properties:
        id: { type: string }
        game: { $ref: '#/components/schemas/Game' }
        name: { type: string }
        region: { $ref: '#/components/schemas/Region' }
        description: { type: string }
        chaptersCount: { type: integer, minimum: 1, description: Nombre de chapitres. Absent si non sourcé. }
        rewardDescription: { type: string, description: Récompense de complétion (voiture, crédits…). Absente si non sourcée. }
        source: { type: string, description: Source propre de la donnée. }
        lastVerified: { type: string, format: date-time }

    StoryList:
      type: object
      required: [items, total, page, pageSize]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Story' }
        total: { type: integer, format: int64 }
        page: { type: integer }
        pageSize: { type: integer }

    Tour:
      type: object
      description: >
        Tour FH6 (Tours of Japan) : visite guidée de l'activité Discovery,
        rapporte des stamps au Collection Journal. Champs non sourcés → omis.
      required: [id, game, name]
      properties:
        id: { type: string }
        game: { $ref: '#/components/schemas/Game' }
        name: { type: string }
        region: { $ref: '#/components/schemas/Region' }
        description: { type: string }
        source: { type: string, description: Source propre de la donnée. }
        lastVerified: { type: string, format: date-time }

    TourList:
      type: object
      required: [items, total, page, pageSize]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Tour' }
        total: { type: integer, format: int64 }
        page: { type: integer }
        pageSize: { type: integer }

    Error:
      type: object
      description: Erreur au format RFC 9457 (application/problem+json).
      properties:
        type: { type: string, format: uri, default: 'about:blank' }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string, format: uri }
